<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<script src="https://kit.fontawesome.com/40500d7576.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="bulma-responsive-tables-css-main.min.css">


<head>
    <title>Arkham Horror Chaos Bag Probability Calculator</title>
</head>

<body>
    <div id="app">
        <nav class="navbar is-light has-shadow is-fixed-top">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="https://mgordin.github.io/">
                        <img src="Elder Sign.png" height="60">
                    </a>
                    <span class="navbar-item">
                        Arkham Horror Chaos Bag Calculator
                    </span>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <a href="https://github.com/mgordin/ArkhamChaosBagCalculatorJS" alt="Github Link" class="button is-light"><i
                                class="fab fa-github"></i></a>
                    </div>
                    <div class="navbar-item">
                        <button class="button is-primary" v-on:click="getProbabilitiesMessage">Calculate
                            probabilities</button>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar is-light has-shadow is-hidden-desktop is-fixed-top">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <button class="button is-primary" v-on:click="getProbabilitiesMessage">Calculate
                        probabilities</button>
                </div>
            </div>
        </nav>
        <div id='probPlot' >
            <!-- Plotly chart will be drawn inside this DIV -->
        </div>

        <hr />
        <div class="tabs is-boxed">
            <ul>
                <li v-bind:class="{ 'is-active' : whichBlock == 'tokens' }" v-on:click="changeTabs('tokens')">
                    <a>
                        <span class="icon is-small"><i class="fas fa-coins" aria-hidden="true"></i></span>
                        <span>Tokens</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active' : whichBlock == 'abilities' }" v-on:click="changeTabs('abilities')">
                    <a>
                        <span class="icon is-small"><i class="fas fa-magic" aria-hidden="true"></i></span>
                        <span>Abilities</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active' : whichBlock == 'settings' }" v-on:click="changeTabs('settings')">
                    <a>
                        <span class="icon is-small"><i class="fas fa-cog" aria-hidden="true"></i></span>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block" v-if="whichBlock == 'settings'">
            <h1 class="title is-4">Redraw handling</h1>
            <p>With many "draw another token" tokens in the bag (e.g., Bless and Curse), calculating draw probabilities
                becomes very slow. The settings below let you customize redraw handling - setting a max number of
                redraws to calculate, and how to resolve redraws past that max. Clicking the "Plot redraw probabilities"
                button below will plot the probability of getting 1 - 10 redraws given your current token settings -
                i.e., what part of your overall token draw probability will be incorrect for a redraw max below your
                actual possible redraws. This can help inform what you set "Redraw max" to.</p>
            <br>
            <div>Redraw max: <input v-model.number="redrawMax" type="number"></div>
            <div>How to resolve redraw over max:
                <select v-model="redrawHandling">
                    <option v-for="option in redrawOptions" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>
            <div>
                <button class="button is-primary" v-on:click="updateRedrawsPlot">Plot redraw probabilities</button>
            </div>
            <div id='redrawsPlot'>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>

        </div>
        <div class="block" v-else-if="whichBlock == 'tokens'">
            <h1 class="title">Token Configuration</h1>
            <span>Use starting tokens from campaign:</span>
            <select @change="setCampaignTokens($event)">
                <option v-for="option in campaignOptions" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <section class="section">
                <div class="container">
                <div class="b-table">
                <div class="table-wrapper has-mobile-cards">
                <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Token</th>
                            <th>Count</th>
                            <th>Value</th>
                            <th>Redraw?</th>
                            <th>Autofail?</th>
                            <th>Autofail if drawn after</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">+1</td>
                            <td data-label="Count"><input v-model.number="tokens['+1']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['+1']['value']" type="number"
                                    :disabled="tokens['+1']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['+1']['redraw']" type="checkbox" :disabled="tokens['+1']['autofail']">
                            </td>
                            <td data-label="Autofail?"><input v-model="tokens['+1']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['+1']['autofailAfter']" :disabled="tokens['+1']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">0</td>
                            <td data-label="Count"><input v-model.number="tokens['0']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['0']['value']" type="number" :disabled="tokens['0']['autofail']">
                            </td>
                            <td data-label="Redraw?"><input v-model.number="tokens['0']['redraw']" type="checkbox" :disabled="tokens['0']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model.number="tokens['0']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['0']['autofailAfter']" :disabled="tokens['0']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">-1</td>
                            <td data-label="Count"><input v-model.number="tokens['-1']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['-1']['value']" type="number"
                                    :disabled="tokens['-1']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model.number="tokens['-1']['redraw']" type="checkbox" :disabled="tokens['-1']['autofail']">
                            </td>
                            <td data-label="Autofail?"><input v-model.number="tokens['-1']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['-1']['autofailAfter']" :disabled="tokens['-1']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">-2</td>
                            <td data-label="Count"><input v-model.number="tokens['-2']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['-2']['value']" type="number"
                                    :disabled="tokens['-2']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model.number="tokens['-2']['redraw']" type="checkbox" :disabled="tokens['-2']['autofail']">
                            </td>
                            <td data-label="Autofail?"><input v-model.number="tokens['-2']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['-2']['autofailAfter']" :disabled="tokens['-2']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">-3</td>
                            <td data-label="Count"><input v-model.number="tokens['-3']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['-3']['value']" type="number"
                                    :disabled="tokens['-3']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model.number="tokens['-3']['redraw']" type="checkbox" :disabled="tokens['-3']['autofail']">
                            </td>
                            <td data-label="Autofail?"><input v-model.number="tokens['-3']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['-3']['autofailAfter']" :disabled="tokens['-3']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">-4</td>
                            <td data-label="Count"><input v-model.number="tokens['-4']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['-4']['value']" type="number"
                                    :disabled="tokens['-4']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model.number="tokens['-4']['redraw']" type="checkbox" :disabled="tokens['-4']['autofail']">
                            </td>
                            <td data-label="Autofail?"><input v-model.number="tokens['-4']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['-4']['autofailAfter']" :disabled="tokens['-4']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">-5</td>
                            <td data-label="Count"><input v-model.number="tokens['-5']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['-5']['value']" type="number"
                                    :disabled="tokens['-5']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model.number="tokens['-5']['redraw']" type="checkbox" :disabled="tokens['-5']['autofail']">
                            </td>
                            <td data-label="Autofail?"><input v-model.number="tokens['-5']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['-5']['autofailAfter']" :disabled="tokens['-5']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">-6</td>
                            <td data-label="Count"><input v-model.number="tokens['-6']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['-6']['value']" type="number"
                                    :disabled="tokens['-6']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model.number="tokens['-6']['redraw']" type="checkbox" :disabled="tokens['-6']['autofail']">
                            </td>
                            <td data-label="Autofail?"><input v-model.number="tokens['-6']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['-6']['autofailAfter']" :disabled="tokens['-6']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">-7</td>
                            <td data-label="Count"><input v-model.number="tokens['-7']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['-7']['value']" type="number"
                                    :disabled="tokens['-7']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model.number="tokens['-7']['redraw']" type="checkbox" :disabled="tokens['-7']['autofail']">
                            </td>
                            <td data-label="Autofail?"><input v-model.number="tokens['-7']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['-7']['autofailAfter']" :disabled="tokens['-7']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">-8</td>
                            <td data-label="Count"><input v-model.number="tokens['-8']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['-8']['value']" type="number"
                                    :disabled="tokens['-8']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model.number="tokens['-8']['redraw']" type="checkbox" :disabled="tokens['-8']['autofail']">
                            </td>
                            <td data-label="Autofail?"><input v-model.number="tokens['-8']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['-8']['autofailAfter']" :disabled="tokens['-8']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">Skull</td>
                            <td data-label="Count"><input v-model.number="tokens['skull']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['skull']['value']" type="number"
                                    :disabled="tokens['skull']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['elderThing']['redraw']" type="checkbox"
                                    :disabled="tokens['skull']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model="tokens['elderThing']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['skull']['autofailAfter']" :disabled="tokens['skull']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">Cultist</td>
                            <td data-label="Count"><input v-model.number="tokens['cultist']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['cultist']['value']" type="number"
                                    :disabled="tokens['cultist']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['elderThing']['redraw']" type="checkbox"
                                    :disabled="tokens['cultist']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model="tokens['elderThing']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['cultist']['autofailAfter']" :disabled="tokens['cultist']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">Tablet</td>
                            <td data-label="Count"><input v-model.number="tokens['tablet']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['tablet']['value']" type="number"
                                    :disabled="tokens['tablet']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['elderThing']['redraw']" type="checkbox"
                                    :disabled="tokens['tablet']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model="tokens['elderThing']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['tablet']['autofailAfter']" :disabled="tokens['tablet']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">Elder Thing</td>
                            <td data-label="Count"><input v-model.number="tokens['elderThing']['count']" type="number" min="0" max="4"></td>
                            <td data-label="Value"><input v-model.number="tokens['elderThing']['value']" type="number"
                                    :disabled="tokens['elderThing']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['elderThing']['redraw']" type="checkbox"
                                    :disabled="tokens['elderThing']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model="tokens['elderThing']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['elderThing']['autofailAfter']"
                                    :disabled="tokens['elderThing']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">Bless</td>
                            <td data-label="Count"><input v-model.number="tokens['bless']['count']" type="number" min="0" max="10"></td>
                            <td data-label="Value"><input v-model.number="tokens['bless']['value']" type="number"
                                    :disabled="tokens['bless']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['elderThing']['redraw']" type="checkbox"
                                    :disabled="tokens['bless']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model="tokens['elderThing']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['bless']['autofailAfter']" :disabled="tokens['bless']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">Curse</td>
                            <td data-label="Count"><input v-model.number="tokens['curse']['count']" type="number" min="0" max="10"></td>
                            <td data-label="Value"><input v-model.number="tokens['curse']['value']" type="number"
                                    :disabled="tokens['curse']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['elderThing']['redraw']" type="checkbox"
                                    :disabled="tokens['curse']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model="tokens['elderThing']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['curse']['autofailAfter']" :disabled="tokens['curse']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">Frost</td>
                            <td data-label="Count"><input v-model.number="tokens['frost']['count']" type="number" min="0" max="8"></td>
                            <td data-label="Value"><input v-model.number="tokens['frost']['value']" type="number"
                                    :disabled="tokens['frost']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['elderThing']['redraw']" type="checkbox"
                                    :disabled="tokens['frost']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model="tokens['elderThing']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['frost']['autofailAfter']" :disabled="tokens['frost']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">Star</td>
                            <td data-label="Count"><input v-model.number="tokens['star']['count']" type="number" min="0" max="1"></td>
                            <td data-label="Value"><input v-model.number="tokens['star']['value']" type="number"
                                    :disabled="tokens['star']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['elderThing']['redraw']" type="checkbox"
                                    :disabled="tokens['star']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model="tokens['elderThing']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['star']['autofailAfter']" :disabled="tokens['star']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="is-image-cell">
                                <div class="image">
                                  <img src="circle-solid.svg" class="is-rounded">
                                </div>
                            </td>
                            <td data-label="Token">Autofail</td>
                            <td data-label="Count"><input v-model.number="tokens['autofail']['count']" type="number" min="0" max="1"></td>
                            <td data-label="Value"><input v-model.number="tokens['autofail']['value']" type="number"
                                    :disabled="tokens['autofail']['autofail']"></td>
                            <td data-label="Redraw?"><input v-model="tokens['elderThing']['redraw']" type="checkbox"
                                    :disabled="tokens['autofail']['autofail']"></td>
                            <td data-label="Autofail?"><input v-model="tokens['elderThing']['autofail']" type="checkbox"></td>
                            <td data-label="Autofail if drawn after">
                                <select v-model="tokens['autofail']['autofailAfter']"
                                    :disabled="tokens['autofail']['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>
        </div>
        <div class="block" v-else-if="whichBlock == 'abilities'">
            <h1 class="title">Select abilities to be active</h1>
            <p>You may select multiple abilities via CTRL+click or SHIFT+click.</p><br>
            <div class="select is-multiple">
                <select v-model="abilitiesActive" multiple>
                    <option v-for="option in abilityOptions" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.js"
    integrity="sha512-+KihqiIrhYt4/tFb42KiOJ+wr0PM6dVMw9twO1Ju+sZ0OdgurvE/9dy2jAS0Fr0MCVryF2EXxPH9HRXg6CaFgg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
<script src="app.js"></script>