<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<script src="https://kit.fontawesome.com/40500d7576.js" crossorigin="anonymous"></script>

<head>
    <title>Arkham Horror Chaos Bag Probability Calculator</title>
</head>

<body>
    <div id="app-10">
        <nav class="navbar is-dark has-shadow is-fixed-top">
            <div class="navbar-brand">
                <h1>Arkham Horror Chaos Bag Calculator</h1>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <button class="button is-primary" v-on:click="getProbabilitiesMessage">Calculate probabilities</button>
                </div>
            </div>
        </nav>
        <div id='probPlot'>
            <!-- Plotly chart will be drawn inside this DIV -->
        </div>
        <hr/>
        <div class="tabs is-boxed">
            <ul>
                <li v-bind:class="{ 'is-active' : whichBlock == 'tokens' }" v-on:click="changeTabs('tokens')">
                    <a>
                        <span class="icon is-small"><i class="fas fa-coins" aria-hidden="true"></i></span>
                        <span>Tokens</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active' : whichBlock == 'abilities' }" v-on:click="changeTabs('abilities')">
                    <a>
                        <span class="icon is-small"><i class="fas fa-magic" aria-hidden="true"></i></span>
                        <span>Abilities</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active' : whichBlock == 'settings' }" v-on:click="changeTabs('settings')">
                    <a>
                        <span class="icon is-small"><i class="fas fa-cog" aria-hidden="true"></i></span>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block" v-if="whichBlock == 'settings'">
            <span>Redraw max: <input v-model.number="redraw_max" type="number"></span><br>
            <span>How to resolve redraw over max: 
                <select v-model="redrawHandling">
                    <option v-for="option in redrawOptions" v-bind:value="option.value">
                        {{ option.text }}
                      </option>
                </select>
            </span>
        </div>
        <div class="block" v-else-if="whichBlock == 'tokens'">
            <h1 class="title">Token Configuration</h1>
            <span>Use starting tokens from campaign:</span>
            <select @change="setCampaignTokens($event)">
                        <option v-for="option in campaignOptions" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
            <table class="table">
                <tr>
                    <th>Token</th>
                    <th>Count</th>
                    <th>Value</th>
                    <th>Redraw?</th>
                    <th>Autofail?</th>
                    <th>Autofail if drawn after</th>
                </tr>
                <tr>
                    <td>+1</td>
                    <td><input v-model.number="tokens['+1'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['+1'][1]" type="number" :disabled="tokens['+1'][4]"></td>
                    <td><input v-model="tokens['+1'][2]" type="checkbox" :disabled="tokens['+1'][4]"></td>
                    <td><input v-model="tokens['+1'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['+1'][3]" :disabled="tokens['+1'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>0</td>
                    <td><input v-model.number="tokens['0'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['0'][1]" type="number" :disabled="tokens['0'][4]"></td>
                    <td><input v-model="tokens['0'][2]" type="checkbox" :disabled="tokens['0'][4]"></td>
                    <td><input v-model="tokens['0'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['0'][3]" :disabled="tokens['0'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>-1</td>
                    <td><input v-model.number="tokens['-1'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['-1'][1]" type="number" :disabled="tokens['-1'][4]"></td>
                    <td><input v-model="tokens['-1'][2]" type="checkbox" :disabled="tokens['-1'][4]"></td>
                    <td><input v-model="tokens['-1'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['-1'][3]" :disabled="tokens['-1'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>-2</td>
                    <td><input v-model.number="tokens['-2'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['-2'][1]" type="number" :disabled="tokens['-2'][4]"></td>
                    <td><input v-model="tokens['-2'][2]" type="checkbox" :disabled="tokens['-2'][4]"></td>
                    <td><input v-model="tokens['-2'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['-2'][3]" :disabled="tokens['-2'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>-3</td>
                    <td><input v-model.number="tokens['-3'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['-3'][1]" type="number" :disabled="tokens['-3'][4]"></td>
                    <td><input v-model="tokens['-3'][2]" type="checkbox" :disabled="tokens['-3'][4]"></td>
                    <td><input v-model="tokens['-3'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['-3'][3]" :disabled="tokens['-3'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>-4</td>
                    <td><input v-model.number="tokens['-4'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['-4'][1]" type="number" :disabled="tokens['-4'][4]"></td>
                    <td><input v-model="tokens['-4'][2]" type="checkbox" :disabled="tokens['-4'][4]"></td>
                    <td><input v-model="tokens['-4'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['-4'][3]" :disabled="tokens['-4'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>-5</td>
                    <td><input v-model.number="tokens['-5'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['-5'][1]" type="number" :disabled="tokens['-5'][4]"></td>
                    <td><input v-model="tokens['-5'][2]" type="checkbox" :disabled="tokens['-5'][4]"></td>
                    <td><input v-model="tokens['-5'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['-5'][3]" :disabled="tokens['-5'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>-6</td>
                    <td><input v-model.number="tokens['-6'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['-6'][1]" type="number" :disabled="tokens['-6'][4]"></td>
                    <td><input v-model="tokens['-6'][2]" type="checkbox" :disabled="tokens['-6'][4]"></td>
                    <td><input v-model="tokens['-6'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['-6'][3]" :disabled="tokens['-6'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>-7</td>
                    <td><input v-model.number="tokens['-7'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['-7'][1]" type="number" :disabled="tokens['-7'][4]"></td>
                    <td><input v-model="tokens['-7'][2]" type="checkbox" :disabled="tokens['-7'][4]"></td>
                    <td><input v-model="tokens['-7'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['-7'][3]" :disabled="tokens['-7'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>-8</td>
                    <td><input v-model.number="tokens['-8'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['-8'][1]" type="number" :disabled="tokens['-8'][4]"></td>
                    <td><input v-model="tokens['-8'][2]" type="checkbox" :disabled="tokens['-8'][4]"></td>
                    <td><input v-model="tokens['-8'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['-8'][3]" :disabled="tokens['-8'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>Skull</td>
                    <td><input v-model.number="tokens['skull'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['skull'][1]" type="number" :disabled="tokens['skull'][4]"></td>
                    <td><input v-model="tokens['skull'][2]" type="checkbox" :disabled="tokens['skull'][4]"></td>
                    <td><input v-model="tokens['skull'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['skull'][3]" :disabled="tokens['skull'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>Cultist</td>
                    <td><input v-model.number="tokens['cultist'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['cultist'][1]" type="number" :disabled="tokens['cultist'][4]"></td>
                    <td><input v-model="tokens['cultist'][2]" type="checkbox" :disabled="tokens['cultist'][4]"></td>
                    <td><input v-model="tokens['cultist'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['cultist'][3]" :disabled="tokens['cultist'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>Tablet</td>
                    <td><input v-model.number="tokens['tablet'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['tablet'][1]" type="number" :disabled="tokens['tablet'][4]"></td>
                    <td><input v-model="tokens['tablet'][2]" type="checkbox" :disabled="tokens['tablet'][4]"></td>
                    <td><input v-model="tokens['tablet'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['tablet'][3]" :disabled="tokens['tablet'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>Elder Thing</td>
                    <td><input v-model.number="tokens['elderThing'][0]" type="number" min="0" max="4"></td>
                    <td><input v-model.number="tokens['elderThing'][1]" type="number" :disabled="tokens['elderThing'][4]"></td>
                    <td><input v-model="tokens['elderThing'][2]" type="checkbox" :disabled="tokens['elderThing'][4]"></td>
                    <td><input v-model="tokens['elderThing'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['elderThing'][3]" :disabled="tokens['elderThing'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>Bless</td>
                    <td><input v-model.number="tokens['bless'][0]" type="number" min="0" max="10"></td>
                    <td><input v-model.number="tokens['bless'][1]" type="number" :disabled="tokens['bless'][4]"></td>
                    <td><input v-model="tokens['bless'][2]" type="checkbox" :disabled="tokens['bless'][4]"></td>
                    <td><input v-model="tokens['bless'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['bless'][3]" :disabled="tokens['bless'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>Curse</td>
                    <td><input v-model.number="tokens['curse'][0]" type="number" min="0" max="10"></td>
                    <td><input v-model.number="tokens['curse'][1]" type="number" :disabled="tokens['curse'][4]"></td>
                    <td><input v-model="tokens['curse'][2]" type="checkbox" :disabled="tokens['curse'][4]"></td>
                    <td><input v-model="tokens['curse'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['curse'][3]" :disabled="tokens['curse'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>Frost</td>
                    <td><input v-model.number="tokens['frost'][0]" type="number" min="0" max="8"></td>
                    <td><input v-model.number="tokens['frost'][1]" type="number" :disabled="tokens['frost'][4]"></td>
                    <td><input v-model="tokens['frost'][2]" type="checkbox" :disabled="tokens['frost'][4]"></td>
                    <td><input v-model="tokens['frost'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['frost'][3]" :disabled="tokens['frost'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>Star</td>
                    <td><input v-model.number="tokens['star'][0]" type="number" min="0" max="1"></td>
                    <td><input v-model.number="tokens['star'][1]" type="number" :disabled="tokens['star'][4]"></td>
                    <td><input v-model="tokens['star'][2]" type="checkbox" :disabled="tokens['star'][4]"></td>
                    <td><input v-model="tokens['star'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['star'][3]" :disabled="tokens['star'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>Autofail</td>
                    <td><input v-model.number="tokens['autofail'][0]" type="number" min="0" max="1"></td>
                    <td><input v-model.number="tokens['autofail'][1]" type="number" :disabled="tokens['autofail'][4]"></td>
                    <td><input v-model="tokens['autofail'][2]" type="checkbox" :disabled="tokens['autofail'][4]"></td>
                    <td><input v-model="tokens['autofail'][4]" type="checkbox"></td>
                    <td>
                        <select v-model="tokens['autofail'][3]" :disabled="tokens['autofail'][4]">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                      </option>
                                </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="block" v-else-if="whichBlock == 'abilities'">
            <h1 class="title">Select abilities to be active</h1>
            <div class="select is-multiple">
                <select v-model="abilitiesActive" multiple>
                        <option v-for="option in abilityOptions" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
<script src="app.js"></script>